<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cme.education.dao.base.PersonMapper">
    <select id="findPersonInfo" parameterType="String" resultType="com.cme.education.bean.base.Person">
        select * from com_person where com_person_id = #{PersonID,jdbcType=VARCHAR}
    </select>
</mapper>